@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* GENERAL CLASSES */

li {
  list-style: none;
}

/*NAV BAR */

nav {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo__img {
  filter: invert(1);
  width: 50px;
  height: 50px;
}

/* .logo__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */


.nav__link--list {
  display: flex;
  /* gap: 12px; */
}

.nav__link {
  margin: 0 12px;

}
